.intro {
   padding-top: 50px;
   min-height: 90vh;
   display: flex;
   align-items: center;
   width: 100%;
}
.intro__inner {
   padding: 20px;
   position: relative;
}
.intro__photo {
   width: 320px;
   height: 320px;
   object-fit: cover;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   animation: intro__avatar 5s ease-in-out infinite;
   border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   transition: all 1s ease-in-out;
}
.intro__icons {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   z-index: 2;
}
.intro__icon {
   text-decoration: none;
   font-size: 30px;
   color: var(--text-color);
   transition: color 250ms linear;
}
.intro__icon:hover {
   color: var(--text-color-dark);
}
.intro__title {
   margin-bottom: 10px;
   font-size: 45px;
}

.intro__descriprion {
   font-size: 28px;
   padding: 20px 40px;
}

.intro__about {
   text-align: justify;
   font-size: 24px;
   line-height: 1.5em;
   padding-bottom: 20px;
}

@keyframes intro__avatar {
   0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   }

   50% {
      border-radius: 40% 70% 60% 50% / 60% 70% 40% 60%;
   }

   100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   }
}

@media (max-width: 992px) {
   .intro__title {
      font-size: 34px;
   }
   .intro__descriprion {
      font-size: 25px;
   }
   .intro__about {
      font-size: 20px;
   }
   .intro__photo {
      width: 270px;
      height: 270px;
   }
}
@media (max-width: 768px) {
   .intro__descriprion {
      padding: 10px 20px;
   }
   .intro__photo {
      width: 300px;
      height: 300px;
      margin-left: 50px;
   }
   .intro__title {
      text-align: center;
      font-size: 40px;
   }
   .intro__proffesion {
      text-align: center;
      font-size: 30px;
      margin-bottom: 10px;
   }
   .intro__about {
      text-align: center;
      font-size: 24px;
   }
}
@media (max-width: 576px) {
   .intro__photo {
      width: 250px;
      height: 250px;
   }
   .intro__title {
      text-align: start;
      font-size: 34px;
   }
   .intro__about {
      text-align: start;
      font-size: 20px;
   }
}
