/*==================   CLASSES   ======================*/
.section {
   padding-top: 100px;
   padding-bottom: 50px;
   display: flex;
   text-align: center;
   flex-direction: column;
}
.section__title {
   color: var(--text-color);
   font-size: 30px;
   transition: color 250ms linear;
}
.section__description {
   color: var(--text-color-dark);
   transition: color 250ms linear;
   font-size: 24px;
}
.w100 {
   width: 100%;
}
.h100 {
   height: 100%;
}

.ant-tabs-nav-list .ant-tabs-tab {
   color: var(--text-color);
   transition: color 250ms linear;
}
.ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-nav-list .ant-tabs-tab:hover {
   color: var(--text-color-dark);
   transition: color 250ms linear;
}
.ant-tabs-nav-list .ant-tabs-ink-bar {
   background-color: var(--text-color-dark);
   transition: background-color 250ms linear;
}
.ant-steps-item-tail::after {
   background-color: transparent;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
   left: 10px;
   z-index: 1;
   color: var(--text-color-dark);
   font-size: 30px;
   width: 30px;
   height: 30px;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
   right: 10px;
   z-index: 1;
   color: var(--text-color-dark);
   font-size: 30px;
   width: 30px;
   height: 30px;
   transition: color 250ms linear;
}
.card {
   background-color: var(--background-color);
   height: 100%;
   border-radius: 25px;
   text-align: center;
   font-size: 18px;
   color: var(--text-color);
   transition: color 250ms linear;
   transition: background-color 250ms linear;
}
.ant-card.shadow {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*==================   LOYOUT   ======================*/
.app {
   background-color: var(--background-color);
   transition: background-color 250ms linear;
   overflow: hidden;
}
.container {
   padding: 20px;
   max-width: 1200px;
   margin: 0 auto;
}

.devider {
   background-color: var(--text-color);
   margin: 0;
   transition: background-color 250ms linear;
}

/*==================   BREACKPOINTS   ======================*/
@media (max-width: 992px) {
   .section {
      padding-top: 50px;
   }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
   .container {
      padding: 10px;
   }
}
