.text {
   font-size: 30px;
   text-align: center;
   padding-bottom: 20px;
}
.icon {
   font-size: 30px;
   color: var(--text-color);
}
.button {
   padding-top: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.arrow {
   margin-left: 10px;
}
